<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perunthalaivar Kamarajar Government Arts and Science College</title>
    <link rel="icon" type="image/png" href="https://files.prokerala.com/education/imgs/logo/college/perunthalaivar-kamarajar-government-arts-college-37062.webp">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

 
  <link rel="stylesheet" href="./home.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <div class="top">
    <div class="info-top">
        <p><i class="fa-solid fa-envelope"></i> perunthalaivarkamarajar@gmail.com</p>
      
        <p><i class="fa-solid fa-phone"></i> 04368 231 390</p>
    </div>
    <div>
      <button class="btn-gradient">Login</button>
    </div>
  </div>
    <div class="Navinfo">
    <nav>
        <img src="https://files.prokerala.com/education/imgs/logo/college/perunthalaivar-kamarajar-government-arts-college-37062.webp" alt="logo" width="100" >
      <div style="margin:7px">
       
      <h3>Perunthalaivar Kamarajar Government Arts and Science College</h3><h4>College Road, Nehrunagar, Karaikal, Puducherry - 609605</h4>
      </div>
     
    
    </nav>
  </div>
  <div class="Navigation">
    <nav>
      <ul>
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">Academics</a></li>
        <li><a href="#section3">NAAC</a></li>
        <li><a href="#section4">NIRF</a></li>
        <li><a href="#section5">Activities</a></li>
        <li><a href="#section6">ICC</a></li>
        <li><a href="#section7">College Calendar</a></li>
        <li><a href="#section8">AICTE</a></li>
        <li><a href="#section9">Gallery</a></li>
        <li><a href="#section10">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>

