<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perunthalaivar Kamarajar Government Arts and Science College</title>
    <link rel="icon" type="image/png" href="https://files.prokerala.com/education/imgs/logo/college/perunthalaivar-kamarajar-government-arts-college-37062.webp">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

 
  <link rel="stylesheet" href="./home.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <!-- <div class="top">
    <div class="info-top">
        <p><i class="fa-solid fa-envelope"></i> perunthalaivarkamarajar@gmail.com</p>
      
        <p><i class="fa-solid fa-phone"></i> 04368 231 390</p>
    </div>
    <div>
      <button class="btn-gradient">Login</button>
    </div> -->
  </div>
    <div class="Navinfo">
   
      <div class="clg-logo">
        <img src="https://files.prokerala.com/education/imgs/logo/college/perunthalaivar-kamarajar-government-arts-college-37062.webp" alt="logo" width="100" >
      <div style="margin:7px">
       
      <h3>Perunthalaivar Kamarajar Government Arts and Science College</h3><h4>College Road, Nehrunagar, Karaikal, Puducherry - 609605</h4>
      </div>
      </div>
        
      <div>
      <button class="btn-gradient" style="margin-top: 12px;">Login</button>
    </div>
     
    
  
  </div>
  <div class="Navigation">
    <nav>
      <ul>
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">Academics</a></li>
        <li><a href="#section3">NAAC</a></li>
        <li><a href="#section4">NIRF</a></li>
        <li><a href="#section5">Activities</a></li>
        <li><a href="#section6">ICC</a></li>
        <li><a href="#section7">College Calendar</a></li>
        <li><a href="#section8">AICTE</a></li>
        <li><a href="#section9">Gallery</a></li>
        <li><a href="#section10">Contact Us</a></li>
      </ul>
    </nav>
  </div>
  <div>
      <div class="image-container">
    <img class="bg-img" src="https://i.pinimg.com/1200x/7d/2a/68/7d2a68406b519c97d9beeadc420ce13d.jpg" alt="Background">
    <img class="overlay-img" src="https://i.pinimg.com/1200x/5d/97/ef/5d97ef31511d9c36c12f546ae1d2d3ec.jpg" alt="Overlay">
    <div class="content">
      <h1 >Welcome to Our </h1>
      <h1 style="color:  rgb(255, 77, 1); padding-left: 10px;">College</h1>
    </div>
    </div>



  </div>
  <br>
 <h1 style="color: rgb(255, 77, 1); text-align:center;">About Us</h1>
<br>
<div class="about-section">
  <div class="about-text">
    <h2>Toppers' Top Choice. Experiential Learning.</h2>
    <h2 style="color: rgb(255, 77, 1);">Fantabulous Campus.</h2>
    <p>
      Perunthalaivar Kamarajar Government Arts and Science College is the most
      preferred institution for high ranking students. With industry-relevant
      curriculum, project-based learning, experienced faculty, modern facilities,
      and vibrant activities, the college stands as a leading institution for
      holistic education.
    </p>
    
  </div>
  <div class="about-image">
    <img src="https://i.pinimg.com/736x/df/21/b6/df21b6a90480d6206624ceeb6006ed37.jpg" alt="Campus" />
  </div>
</div>


  <script>
  // Get all navigation links
  const navLinks = document.querySelectorAll(".Navigation ul li a");

  navLinks.forEach(link => {
    link.addEventListener("click", function () {
      // Remove active class from all links
      navLinks.forEach(l => l.classList.remove("active"));
      // Add active class to the clicked link
      this.classList.add("active");
    });
  });
</script>

</body>
</html>

